.button{
    border: 1px solid black;
    width: 80px;
    height: 80px;
}
.blocks{
    display: flex;
    justify-content: center;
}
.blocks-grid{
    width: min-content;
    display: grid;
    grid-template-columns:repeat(var(--block-size), 1fr);
    gap: 0;
}
.block-size{
    width: 50px;
    height: 20px;
}

.reset-container{
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
}
.reset-btn{
    border: 1px solid black;
}

.zoom {
    font-size: 30px; 
    animation: zoom-out 0.5s forwards;
  }
  
  @keyframes zoom-out {
    0% {
      font-size: 80px;
    }
    100% {
      font-size: 30px;
    }
  }

  .background {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
  .fade {
    opacity: 0.3; 
  }